body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('hero-bg.webp') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 7rem 1rem;
    position: relative;
    max-width: none;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #ff6347;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

main {
    padding: 2rem 1rem;
}

section {
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    line-height: 1.8;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #444;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.portfolio-box-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.portfolio-box img {
    max-width: 100%;
    max-height: 300px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.portfolio-box h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.portfolio-box p {
    font-size: 1rem;
    color: #666;
    text-align: left;
}

.law_table {
    max-width: 600px;
    margin: 0 auto;
    font-size: 0.8rem;
}
